// ==========================================================================
// $Shame
// @see http://csswizardry.com/2013/04/shame-css/
// Thanks https://github.com/heroheman/shepherd/blob/master/sass/_shame.scss
// ==========================================================================

// ==========================================================================
// because hacks happen.
//
// be very specific about what each piece of code is doing, and
// how to better fix it later
// ==========================================================================

// Try:  $ git blame _shame.scss

// Rules:
// ---------------
//   1. If it’s a hack, it goes in _shame.scss.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.scss up when you have some down time.
//       Even better, get tech-debt story in which you can dedicate actual sprint time to it.

// Example:
// ---------------
   // Nav specificity fix.

   // Someone used an ID in the header code (`#header a{}`) which trumps the
   // nav selectors (`.site-nav a{}`). Use !important to override it until I
   // have time to refactor the header stuff.

   // .site-nav a{
   //     color:#BADA55!important;
   // }

//No-hack

/*Variables*/
/*============================================*/
/*============================================*/

$lspace5: .05em;
$lspace4: .04em;

/*Colors*/
/*============================================*/

$ag_green:#999900;
$ag_purple:#993399;
$ag_black:#000000;
$ag_white:#ffffff;

/*Fonts*/
/*============================================*/

@mixin ag_reg{
	font-family:"Apercu Regular", Calibri, sans-serif; 
	font-size-adjust:0.508; 
	font-weight:normal; 
	font-style:normal;
}

@mixin ag_bold{
	font-family:"Apercu Bold", Calibri, sans-serif; 
	font-size-adjust:0.508; 
	font-weight:bold; 
	font-style:normal;
}

/*Goodness*/
/*============================================*/

h1{
	@include ag_bold;
	font-size: em(48);
	line-height:56px;
	letter-spacing: $lspace5;
	text-transform:uppercase;
}

h2{
	@include ag_bold;
	font-size: em(24);
	line-height:30px;
	letter-spacing: $lspace4;
}

h3{
	@include ag_bold;
	font-size: em(18);
	line-height:23px;
	letter-spacing: $lspace4;
}

h4{
	@include ag_bold;
	font-size:em(14);
	line-height:22px;
	letter-spacing: $lspace4;
}

p, a, ul{
	@include ag_reg;
	//font-size:em(14);
	line-height:22px;
	letter-spacing: $lspace4;
}

a{
	color:$ag_green;

	&:hover{
		color:$ag_purple;
	}
}

h1, h2, h3, h4, h5, p{
 text-transform:uppercase;
 }

body{
	overflow-x:hidden;
}

body, html{
	 @include ag_reg;
	// //font-size:em(14);
	// line-height:22px;
	// letter-spacing: $lspace4;
	//overflow-x:hidden;
	height:100%;
	// width:100%;
}

main, #page{
	height:100%;
	display:inline;
}

header{
	background:$ag_black;
	width:100%;
}

header, .sticky{
	//position:fixed;
	//width:100%;
	//bottom:0;
	z-index:5000;

	ul{
		// padding:.5em 1em;

		li{

			a{
				color:white;
				padding:.5em 1em;
				text-transform:uppercase;
			}
		}
	}

}

// a{
// 	img{
// 		transition:opacity .2s ease-in-out;

// 		&:hover{
// 			opacity:.6;
// 		}
// 	}
// }

footer{
	background:$ag_black;
	//font-family: Helvetica, sans-serif !important;
	font-weight:bold;
	width:100%;
	text-transform:uppercase;
	color:$ag_white;
	position:relative;
	margin-top:3em;

	p{
		//font-family:inherit;
		margin-bottom: 30px;
	}

	.watermark{
		p{
			padding-bottom:1.375em !important;
		}
	}

	.contact{

		float:left;
		padding-left:2.5em;

		& > div{
			float:left;
		}
	}

	.subscribe{
		float:right;
		padding-right:3.125em;
		width:500px;

		p{
			padding:0;
			margin:0;
			padding-bottom:10px;
			padding-top:1.375em;
		}

		input{
			display:inline-block;
			border-radius:0;
		}

		input[type="text"]{
			//float:left;
			padding:7px;
			margin:0;
			width:300px;
			color:$ag_black;


		}

		input[type="submit"]{
			background:$ag_green;
			text-transform:uppercase;
			margin:0;
			padding:8px;
			width:100px;
			margin-left:-4px;
			
			&:hover, &:active, &:focus{
				background:$ag_purple;
			}
		}
	}

	.social{
		//font-size: em(22);

		ul{

			padding-top:22px;
			padding-left: 50px;

			li{
				display:inline;

				a{
					//font-size: em(22);

					&:hover{
						color:$ag_purple;
					}
				}
			}
		}
	}
}

.tower-footer{
	position:absolute;
	right:2.25em;
	top:-100px;

	.tower{
		// text-align:right;
		// padding-right:3.25em;
		// margin-bottom:-30px;
	}

	img{
		//display:block;
	}
}

.fixed-bottom{
	position:fixed;
	bottom:0;
}

.fixed-top{
	position:fixed;
	top:0;
	z-index:1;
	height:40px;
	//background:$ag_black;
}

.absolute-top{
	position:absolute;
	top:0;
}

.absolute-bottom{
	bottom:0;
	width:100%;
	height:40px;
	position:absolute;
	background:$ag_black;
	//z-index:999999;
}

.floatRight{
	float:right;
}

// header.home nav{
// 	//position:absolute;
// 	bottom:0;
// 	width:100%;
// 	height:70px;
// }

.hide{
	display:none;
	visibility: hidden;
}

span.address{
	color:$ag_green;
}

.current_page_item a, .current-page-ancestor a{
	color:$ag_green;
}

header.deep .global-nav, .sticky{

	ul{
		li{
			a{
				@include ag_bold;
				margin-right:2.625em;

				&:hover{

					color:$ag_purple;

				}
			}
		}
	}
}

.strip{
	height:1em;
	background-color:black;
}

.sticky ul{
	margin-left:1.5em;
}

header.deep .global-nav, .sticky.fixed-top{


		ul{
			margin-left:15.25em;
		}
	}

header.deep .logo{
	position:absolute;
}

.logo{
			//position:absolute;
			left:2.5em;
			z-index:10000;
			
		}

#home .social{
	margin-top:.5em;
}

.home .user-gateway{
	top:1em;
}

/* Setup new grid on .page
================================================*/
#page {
	
	.container{
	width:100%;

	.grid{
		display:block;
		float:none;
		margin:0 auto;
		margin-top:2.5em;
		max-width:1200px;

		a{

			color: $ag_black;

			}

		.four.columns, .eight.columns{
			margin-right:0;
			margin-left:0;
		}
	}

	}

}
/*================================================*/


/* Correct content link color on text-style pages
================================================*/
#page .text-page .the-content{
		a{
			color:$ag_green;

		&:hover{
			color:$ag_purple;
		}	

		}
}
/*================================================*/

/*New grid structure
================================================*/
.content-block{
	padding:0 .75em 0 .75em;
	margin-bottom:2.5em;
	//margin-left:1.25em;
	//margin-right:1.25em;
	margin-top:0;
	margin-bottom:2.5em;
	cursor:pointer;
	//box-sizing:content-box;

	img{
		display:block;
		width:100%;
		height:auto;
	}

	h1, h2, h3, h4{
		padding-bottom:1.25em;
		margin:0;
	}

	p{
		padding:0;
		padding-bottom:1.25em;
		margin:0;
		text-transform:none;
	}

	.title{
		@include ag_bold;
		font-size: em(14);
		padding: .5em 0 0 0;
		margin:0;
		text-transform:uppercase;
	}

	.title-block{
		color:white;
		background:$ag_green;
	}
	.content-wrapper{
		position:relative;
	}
	.content-text-block{
		padding:0 1.25em;
	}

}

.content-block.columns{
	float:left !important;
	//border:5px solid $ag_green;
}

.user-gateway{
	float:right;
	//position:relative;
	right:0;
	z-index:5000;
	& > div{
		display:inline-block;
		float:left;
	}

}

#home .user-gateway{

	//margin-top:11px;

	ul{
		li{
			display:inline-block;
			//margin-top:.5em;
		}
	}
}

.title-bar .twelve.columns{
	float:none;
	display:block;
	max-width:1200px;
	margin:0 auto;
	padding-left:.75em;
	height:60px;

	h1{
		padding-left:0;
		display:inline-block;
		float:left;
		margin-right:28px;
		//margin-left:.75em;
	}
}

// .global-nav{
// 	position:absolute;
// }

/*================================================*/

/*Subnav structure
================================================*/
.subnav{
	
	//margin-left:1.75em;
	display:table !important;
	height:100%;
	float:left;

	li{
		vertical-align: bottom;
		height:100%;
		display:table-cell;
		padding-bottom: 6px;

		&:after{
				content:"\00a0\00a0\00a0/\00a0\00a0\00a0"
			}

		a{
			color:white;
			@include ag_bold;

			&:hover{
				color:$ag_purple;
			}
		}

		&:last-child{
			
				&:after{
					content:"";
				}
		}
	}

		
	li.current_page_item a{

		color:$ag_purple;
		
	}

	
}

/*================================================*

/*New grid structure
================================================*/
.content-block{

	.has-border{
		border:5px solid $ag_green;
	}

	&.text-block, &.past-event-info{
		&:hover{

			.has-border{
			border:5px solid $ag_purple;}

		}
	}

	&.intro{

		p{
			@include ag_bold;
			font-size:1em;
		}

		h2{
			padding:0;
			margin-bottom:1.25em;
		}
		
	}

	&.text-image-new, &.text-image-past{
		&:hover{

			//border:5px solid $ag_purple;

			.content-text-block{
				background:$ag_purple;
			}
		}
	}

	&.cta-block{
			
		a{
			color:$ag_white !important;
			@include ag_bold;
			padding-bottom: em(80);
			padding-top:.75em;
			padding-left:1.25em;
			font-size: em(24);
			background:$ag_green;
			width:100%;
			text-transform: uppercase;
			display:block;

			&:hover{
				background:$ag_purple;
			}
		}
	}

	&.image-only{
		
		p{
			position:absolute;
			z-index:10;
			color:white;
		}

		&:hover{

			

			.overlay.purple{
				display:block;
				border:5px solid $ag_purple;
			}
		}
	}
}
/*================================================*/

.sidebar-block{
	border-top:5px solid $ag_green;
	margin-bottom: em(57);

	.title{

		// font-size:1em;
		@include ag_bold;
		color:$ag_green;
		text-transform:none;
		margin-bottom: em(25);
		margin-top: em(10);
	}

	p{

		text-transform:none;
		margin-bottom:10px;

	}

	ul{

		li{

			list-style-type: none;
			list-style-image:none;
			padding:em(10) 0;

			a{
				color: $ag_white !important;
				background-color:$ag_green;
				padding: 5px 7px;
				text-transform:uppercase;

				&:hover{
					background:$ag_purple;
				}

			}

		}

	}
}

.banner{
	width:100%;
	height:385px;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.text-page{

	.container .three.columns, .container .nine.columns{
		margin-right:.75em;
		margin-left:.75em;
	}
}

.the-content{

	h1, h2, h3, h4, p{
		text-transform:none;
	}

	a{
		color:$ag_green;

		&:hover{
			color:$ag_purple;
		}
	}

	h1:first-of-type, h2:first-of-type{
		margin-top:0;
	}

	ul{
		margin-left: em(45);

		li{
			list-style-image: url('img/list-box.jpg');
			margin:35px 0;
			padding-left: 15px;
		}
	}
}

.stack{position:relative;

  &:after, &:before{
    display:table; 
    content:" ";
  }

  &:after{
    clear:both;
  }
}

.button{
	height:40px;
	padding:.5em 1em;
	a{
		color:white;
		//padding: .79em 1em;
		text-transform:uppercase;
		@include ag_bold;
	}
	&.green{
		background-color:$ag_green;
		@include ag_bold;
		&:hover{
			background-color:white;
			color: $ag_green;

			a{
				color:$ag_green;
			}
		}
	}

	&.purple{
		background-color:$ag_purple;
		@include ag_bold;
		//margin-right:.625em;

		&:hover{
			background-color:white;
			color: $ag_purple;

			a{
				color:$ag_purple;
			}
		}
	}
}

#home .button{
	&.purple{
		margin-right:.625em;
	}

	&.green{
		margin-right:0;
	}
}

.button{
	&.green{
		margin-right:-4px;
	}
	&.purple{
		margin-right:6px;
	}
}

.social{
	margin-right:1.75em;

	ul{

		margin:0;
		padding:0;

		li{

			a{
				margin:0;
				padding-right: em(10);
				padding-left:0;
			}

		}

	}

	a{
		color:white;
		
		&:hover{
			color:$ag_purple;
		}

	}
}

.homepage-fullscreen{
	height: 100%;
	min-height: 100%;
}

.greeting-container{
  display:table;
  width:30%;
  min-width:28.75em;
  height:95%;
  position:relative;
  z-index:4000;
}

.greeting{
  color:white;
  display:table-cell;
  vertical-align:middle;
  padding-left:2.5em;

  h1{
  	// font-size: em(60);
  	// line-height: 1.25;
  	//width:85%;
  }

   h2{
   	text-transform: none;
  // 	font-size: em(30);
  // 	line-height: 1.25;
   }
}

.event_link{
	position:relative; //absolute;
	// right:6.125em; //remove
	//top:3em; //remove
	//display:table;
	min-width: 253px;
    width: 253px;
    z-index:0;
    margin-right:3.125em; //new
    margin-top:3em; //new
    float:right; //new

	.event_link_icon{
		position:absolute;
		width:100%;
		height:253px;
		z-index:0;

		// &:hover img.top{
		// 	display:none;
		// }

		img{
			max-width: 100%;
			height:auto;
			position:absolute;

			&.top{
				z-index:10;

				
			}

			&.bottom{
				z-index: 5;
			}
		}
	}

	h2 {
		position:relative; //absolute;
		//display:table-cell;
		vertical-align:middle;
		text-align: center;
		//z-index:2;
		//height:100%;
		font-size:1em;
		width:156px;
		top:39px;
		left:48px;
		// width: 80%;
	 //    left: 50%;
	 //    top: 50%;
	 //    transform: translate(-50%, 31%);
	    z-index: 15;

		a{
			@include ag_bold;
			color:white;
			text-decoration:underline;
			font-size: em(30);
			line-height:1.25;

			&:hover, &:active, &:focus{
				text-decoration:none;
				color: $ag_purple
			}
		}
	}
}

.panel{
	position:relative;
	background:white;
	//border-top:1px solid #292929;
	//border-bottom:1px solid #292929;
	height:100%;
	min-height:100%;
	width:100%;
	margin-bottom:1em;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
	background-attachment:fixed;

	.title{
		position:absolute;
		top:0;
		right:3.125em;
		padding:1.25em;
		background:$ag_green;
		color:white;
		min-width:24.3125em;
		width:25%;

		&:hover{
				background:$ag_purple;
				color:white;
			}

		a{
			color:white;
			
		}

		h1, h2, h3, p{
			margin:0;
			padding:0;
		}

		p{
			margin-top:.25em 0 ;
			text-transform:uppercase;
		}

		h3{
			margin-top:2em;
		}
	}

	&:last-of-type{
		margin-bottom:0;
	}
}

#programs{

}

#featured-artists .title h3{
	text-transform:none;
}

.columns.title-bar{
	width:100%;
}

.title-bar {
	background-color:$ag_green;
	color:white;
	padding:0;
	//padding-left:2.5em;

	h1{
		margin:0;
		padding:0;
		line-height:1.3;
	}
}

.down-container{
  position:absolute;
  bottom:15%; 
  width:100%; 
  text-align:center;

  	img{
  		opacity:1;
  		transition:all .2s ease-in-out;

  		&:hover{
  			opacity:.6;
  		}
  	}
}

.overlay{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	bottom:0;
	right:0;
	left:0;

	&.black{
		background-color:rgba(0,0,0,.2);
	}

	&.purple{
		background-color:rgba(153,51,153,.5);
		display:none;
	}

}

#twitter{
	position: absolute;
    right: 0;
    z-index: 60;
    bottom: 20%;
    background:$ag_purple;
    padding:.625em 1.25em .625em 0;
    width: em(93);
    height: em(62);

    &:hover{
    	background:$ag_white;
    }

    img{
    	position:absolute;
    	max-width:100%;
    	height:auto;
    	margin-left:.625em;
    	//padding:.625em 1.25em .625em .625em;

    	&.top{

				z-index:10;

		}

		&.bottom{

			z-index: 5;

		}
    }
}


.tw-feed-block{
	background:white;
	color:black;
	position:absolute;
	right:3.125em;
	bottom:20%;
	padding:1.5em;
	opacity:0;
	min-width:24.3125em;
	width: 25%;
	z-index:5000;


	.tw-close{
		text-align:right;
		cursor:pointer;
		position:absolute;
		top:.5em;
		right:.5em;
	}
}
.event-cta{
	position:absolute;
	bottom: em(40);
	right:3.125em;
	
	min-width:24.3125em;
	width:25%;

	h2{
		color:white;
		margin-bottom: 20px;
		text-transform:none;
		letter-spacing:.015em;
	}

	.button{
		float:right;
		background:$ag_green;
		color:white;
		text-transform:uppercase;
		padding: 2px 1.5em;
		height:auto;
		@include ag_bold;

		&:hover{
			background:$ag_purple;
		}
	}
}

//.container .four.columns{width:33.333333%;}

#instafeed{
	height:300px;
	margin:3em 0;
	border-top:5px solid $ag_green;
	display:block;
	float:none;
	margin:0 auto;
	margin-top:2.5em;
	max-width:1200px;

	img{
		width:100%;
		height:auto;
	}

	.title{
		//font-size:1em;
		@include ag_bold;
		color:$ag_green;
		margin-bottom: em(25);
		margin-top: em(10);
		text-transform:none;
	}

	.four.columns{
		margin-left:0;
		margin-right:0;
		padding:0 .75em;


	}


}

.container{
	// height:100%;
	// min-height:100%;
	// width:100%;
	// background-color: red;
	// margin-bottom:1em;
}

.hide-for-desktop{
	display:none;
	visibility:hidden;
}

.hide-for-mobile{
		display:block;
		visibility:visible;
	}

 .sidr-close {
    text-align: right;
    padding-right: .5em;
}

.global-nav .sidr-close{
	position: absolute;
	text-indent: -9999999px;
		}

.responsive-menu-trigger{
	float:right;
	margin-top: 0.25em;
    font-size: 1.5em;
    position:absolute;
   	right:-99999px;

		a{
			color:white;
			position: relative;
    		top: 5px;

			&:hover{
				color:$ag_purple;
			}
		}
}

#home .responsive-menu-trigger{
	margin-top:0;

}

#wpadminbar{
	bottom: 0 !important;
	top: auto !important;
}

/* =============================================================================
   WordPress Image CSS Styles
   ========================================================================== */

.alignnone {margin:5px 20px 20px 0;}
.aligncenter,div.aligncenter {display:block;margin:5px auto 5px auto;}
.alignright {float:right;margin:5px 0 20px 20px;}
.alignleft {float:left;margin:5px 20px 20px 0;}
.aligncenter {display:block;margin:5px auto 5px auto;}
a img.alignright {float:right;margin:5px 0 20px 20px;}
a img.alignnone {margin:5px 20px 20px 0;}
a img.alignleft {float:left;margin:5px 20px 20px 0;}
a img.aligncenter {display:block;margin-left:auto;margin-right:auto;}
.wp-caption {background:#FFF;border:1px solid #F0F0F0;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone {margin:5px 20px 20px 0;}
.wp-caption.alignleft {margin:5px 20px 20px 0;}
.wp-caption.alignright {margin:5px 0 20px 20px;}
.wp-caption img {border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text,.gallery-caption {font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}
.sticky {}
.bypostauthor {}
	.add-bottom { margin-bottom: 20px !important; }


@media only screen and (max-width:1280px){
	.logo{
		//left:1.75em;
		width:9em;
	}

	footer .social ul{
		padding-left:20px;
	}

	footer .contact{
		padding-left:1.5em;
	}

	footer .subscribe{width:417px;}

	header.deep .global-nav ul li a, .sticky .global-nav ul li a{
		margin-right:0;
	}

	header ul li a, .sticky.fixed-top a {
		padding:.5em .75em;
	}
}

@media only screen and (max-width:1000px){
	.title-bar{
		display:table;
		width:100%;
	}

	.title-bar .twelve.columns{
		//height:95px;

	}

	.subnav{
		//margin-left:0;
		//display:block;
		//height:auto;

		li{
			//height:auto;
			//display:inline-block;

		}
	}
}

@media only screen and (max-width:900px){

	
}

@media only screen and (max-width:1300px){
	#instagram{
		width:96%;
	}
}

@media only screen and (min-width: 951px) and (max-width: 1250px){


	header.deep .global-nav ul li a, .sticky .global-nav ul li a{
		margin-right:0;
	}

	.logo{
		left:1.5em;
	}

	.social{
		margin-right:0;
	}

	.contact{
		padding-left:1.75em;
	}

	header.deep .global-nav, .sticky.fixed-top{
		ul{
			margin-left:10.25em;

		}
	}

	header ul li a, .sticky.fixed-top a {
		padding:.5em .75em;
	}

	footer .subscribe{
		padding-right:.5em;
		width:432px;
	}


	.global-nav{
		position:absolute;

		
	}
	}

@media only screen and (min-width: 769px) and (max-width: 950px){
	//.home .global-nav ul{margin-left:200px !important;}

	.container .four.columns{
			//width:28%;
		}

	footer .subscribe{
		padding-right:0;
		width:311px;
	}

	footer .subscribe input[type="text"]{
		width:200px;
	}

	header.deep .global-nav, .sticky.fixed-top .global-nav{
		ul{
			margin-left:10.25em;

			li{

				a{
					margin-right:0;
				}

			}

		}
	}

	header ul li a, .sticky.fixed-top a {
		padding:.5em .5em;
	}

	#home .social, header.deep .social{
		display:none;
		visibility:visible;
	}

	.logo{
		left:1.5em;
	}

	footer .social{
		margin-right:0;
	}

	footer .social ul li a{font-size:1em;}
	// .main-navigation ul li a, .sticky.fixed-top ul li a{
	// 	margin-right:0;
	// }
}

@media only screen and (min-width: 401px) and (max-width: 768px){
		
		.responsive-menu-trigger{
				position:relative;
				right:0;
			}

		#page .container .grid .four.columns, 
		#page .container .grid .eight.columns,{
			margin-right:2%;
			margin-left:2%;
		}	


		.logo{
			left:1.5em;
		}	

		.sidr ul li a{
		    padding: 20px 15px !important;
		}

		.main-navigation ul#menu-global-nav {
    		position: absolute;
    		right: -99999px;
			}

		#twitter{
			bottom:10%;
		}

		.down-container{
			bottom:5%;
		}

		#home .social, header.deep .social{
		display:none;
		visibility:visible;
	}	

		footer{

			.contact{
				width:100%;

				.social{
					float:right;
				}

			}

			.subscribe{
				float:none;
				padding-right:0;
				margin:0 auto;
				margin-bottom:1.375em;
				text-align:center;

				p{
					text-align:center;
				}
			}

		}
		
		.hide-for-desktop{
		display:block;
		visibility:visible;
		}

		// .global-nav .sidr-close{
		// 	position:absolute;
		// 	right:-9999999px;
		// }

		// .hide-for-mobile{
		// 	display:none !important;
		// 	visibility:hidden;
		// }
}

@media only screen and (max-width:768px){
	#instafeed{
		width:96%;

		.four.columns{
			margin-bottom:2.5em;
		}
	}
}

@media only screen and (max-width: 580px){

	.down-container{
		visibility:hidden;
		display:none;
	}

	.banner, .panel{
		background-attachment:local;
	}
	.responsive-menu-trigger{
				position:relative;
				right:0;
			}
	#page .container .grid .four.columns, #page .container .grid .eight.columns,{
		margin-right:2%;
		margin-left:2%;
	}

	.sidr ul li a{
		padding: 20px 15px !important;
	}

	.button .purple, .button .green{
		margin-right:.25em;
	}

	.main-navigation .user-gateway > div{
		float: none;
		margin-top:-2px;
	}

	.main-navigation .user-gateway > div{

	}

	.title-bar{
		display:table;
		width:100%;
	}

	.title-bar .twelve.columns{
		//height:95px;

	}

	.subnav{
		margin-left:0;
		display:block;
		height:auto;

		li{
			height:auto;
			display:inline-block;

		}
	}
	#home .user-gateway{
			float:none;
			margin-top:0;

			.social{
				margin-right:.25em;
				margin-left:.25em;
			}

			& > div{
				//margin-top:6px;
			}

			.responsive-menu-trigger{
				margin-top:0;
			}
		}

	footer{
		.subscribe{
			width:90%;
			margin:0 auto;
			//margin-left:1em;
			padding-right:0;
			float:none;
			margin-bottom:1.375em;

			p{
				text-align:center;
			}

			input[type="text"]{
				width:100%;
			}

			input[type="submit"]{
				margin-left:0;
				width:100%;
			}
		}
	}

	footer .contact{
		float:none;
		padding-left:1em;

		.social{
			text-align:center;

			ul{
				padding-top:0;
				padding-left:0;
			}
		}
	}

	footer .contact > div{
		float:none;
	}

	#home .social{
		display:none;
	}

	.logo{
		width:25%;
		left:.5em;
	}

	// .hide-for-mobile{
	// 	display:none !important;
	// 	visibility:hidden;
	// }

	.hide-for-desktop{
		display:block;
		visibility:visible;
	}

	.greeting-container{
		min-width:0;
		width:95%;
		font-size:70%;
		line-height:1.2;
		display:block;
		height:auto;
		margin-top:2em;

		h1, h2{
			line-height:1.3;
		}

		.greeting{
			padding-left:1em;
		}
	}

	#twitter{
			bottom:10%;
		}

	.tw-feed-block{
		margin-right: 0;
	    width: 95%;
	    margin: 0 auto;
	    right: auto;
	    left: 52%;
	    z-index: 5000;
	    min-width: 0;
	    margin-left: -50%;

		p{
			text-transform:none;
		}

		a{
			color:$ag_green;

			&:hover{
				color:$ag_purple;
			}
		}
	}
	.down-container{
			bottom:5%;
		}

	.event-cta{
		width:95%;
		right:0;
		left:.5em;
		min-width:0;
	}

	.event_link{
		float:none;
		margin:0 auto;
		top:1.5em;

		h2{
			top:52px;
		}
	}

	.panel{

		.title{
			position:static;
			margin:0 auto;
			width:95%;
			min-width:0;
		}

	}

	.user-gateway .button{

		a{
			font-size:.75em;
		}

	}
}