// ==========================================================================
// $Shame
// @see http://csswizardry.com/2013/04/shame-css/
// Thanks https://github.com/heroheman/shepherd/blob/master/sass/_shame.scss
// ==========================================================================

// ==========================================================================
// because hacks happen.
//
// be very specific about what each piece of code is doing, and
// how to better fix it later
// ==========================================================================

// Try:  $ git blame _shame.scss

// Rules:
// ---------------
//   1. If it’s a hack, it goes in _shame.scss.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.scss up when you have some down time.
//       Even better, get tech-debt story in which you can dedicate actual sprint time to it.

// Example:
// ---------------
   // Nav specificity fix.

   // Someone used an ID in the header code (`#header a{}`) which trumps the
   // nav selectors (`.site-nav a{}`). Use !important to override it until I
   // have time to refactor the header stuff.

   // .site-nav a{
   //     color:#BADA55!important;
   // }

//No-hack

/*Variables*/
/*============================================*/
/*============================================*/

$lspace5: .05em;
$lspace4: .04em;

/*Colors*/
/*============================================*/

$ag_green:#999900;
$ag_purple:#993399;
$ag_black:#000000;
$ag_white:#ffffff;

/*Fonts*/
/*============================================*/

@mixin ag_reg{
	font-family:"Apercu Regular", Calibri, sans-serif; 
	font-size-adjust:0.508; 
	font-weight:normal; 
	font-style:normal;
}

@mixin ag_bold{
	font-family:"Apercu Bold", Calibri, sans-serif; 
	font-size-adjust:0.508; 
	font-weight:bold; 
	font-style:normal;
}

/*Goodness*/
/*============================================*/

h1{
	@include ag_bold;
	font-size: em(48);
	line-height:56px;
	letter-spacing: $lspace5;
	text-transform:uppercase;
}

h2{
	@include ag_bold;
	font-size: em(24);
	line-height:30px;
	letter-spacing: $lspace4;
}

h3{
	@include ag_bold;
	font-size: em(18);
	line-height:23px;
	letter-spacing: $lspace4;
}

h4{
	@include ag_bold;
	font-size:em(14);
	line-height:22px;
	letter-spacing: $lspace4;
}

p, a, ul{
	@include ag_reg;
	//font-size:em(14);
	line-height:22px;
	letter-spacing: $lspace4;
}

a{
	color:$ag_green;

	&:hover{
		color:$ag_purple;
	}
}

h1, h2, h3, h4, h5, p{
 text-transform:uppercase;
 }

body, html{
	 @include ag_reg;
	// //font-size:em(14);
	// line-height:22px;
	// letter-spacing: $lspace4;
	//overflow-x:hidden;
	height:100%;
	// width:100%;
}

main, #page{
	height:100%;
	display:inline;
}

header{
	background:$ag_black;
	//position:fixed;
	width:100%;
	//bottom:0;
	z-index:5000;

	ul{
		// padding:.5em 1em;

		li{

			a{
				color:white;
				padding:.5em 1em;
				text-transform:uppercase;
			}
		}
	}

}

// a{
// 	img{
// 		transition:opacity .2s ease-in-out;

// 		&:hover{
// 			opacity:.6;
// 		}
// 	}
// }

footer{
	background:$ag_black;
	font-family: Helvetica, sans-serif !important;
	font-weight:bold;
	width:100%;
	text-transform:uppercase;
	color:$ag_white;
	position:relative;
	margin-top:3em;

	p{
		font-family:inherit;
		margin-bottom: 30px;
	}

	.contact{

		float:left;
		padding-left:3.125em;

		& > div{
			float:left;
		}
	}

	.subscribe{
		float:right;
		padding-right:3.125em;
		width:500px;

		p{
			padding:0;
			margin:0;
			padding-bottom:10px;
			padding-top:1.375em;
		}

		& > input{
			display:inline-block;
		}

		input[type="text"]{
			//float:left;
			padding:7px;
			margin:0;
			width:300px;
			color:$ag_black;
		}

		input[type="submit"]{
			background:$ag_green;
			text-transform:uppercase;
			margin:0;
			padding:8px;
			width:100px;
			margin-left:-4px;
			//float:left;
		}
	}

	.social{
		//font-size: em(22);

		ul{

			padding-top:22px;
			padding-left: 50px;

			li{
				display:inline;

				a{
					font-size: em(22);
				}
			}
		}
	}
}

.tower-footer{
	position:absolute;
	right:2.25em;
	top:-90%;

	.tower{
		// text-align:right;
		// padding-right:3.25em;
		// margin-bottom:-30px;
	}

	img{
		//display:block;
	}
}

.fixed-bottom{
	position:fixed;
	bottom:0;
}

.fixed-top{
	position:fixed;
	top:0;
}

.absolute-top{
	position:absolute;
	top:0;
}

.hide{
	display:none;
	visibility: hidden;
}

span.address{
	color:$ag_green;
}

.main-navigation{

	ul{
		li{
			a{
				@include ag_bold;
				margin-right:3.125em;

				&:hover{

					color:$ag_green;

				}
			}
		}
	}
}

.strip{
	height:1em;
	background-color:black;
}

header.deep{

		

		ul{
			margin-left:16.25em;
		}
	}

.logo{
			position:absolute;
			left:2.5em;
		}

/* Setup new grid on .page
================================================*/
#page {
	
	.container{
	width:100%;

	.grid{
		display:block;
		float:none;
		margin:0 auto;
		margin-top:2.5em;
		max-width:1200px;

		a{

			color: $ag_black;

			}

		.four.columns{
			margin-right:.75em;
			margin-left:.75em;
		}
	}

	}

}
/*================================================*/

/*New grid structure
================================================*/
.content-block{
	margin:0 1.25em 2.5em 1.25em;
	margin-left:1.25em;
	margin-right:1.25em;
	margin-top:0;
	margin-bottom:2.5em;
	cursor:pointer;
	//box-sizing:content-box;

	img{
		display:block;
		width:100%;
		height:auto;
	}

	h1, h2, h3, h4{
		padding-bottom:1.25em;
		margin:0;
	}

	p{
		padding:0;
		padding-bottom:1.25em;
		margin:0;
	}

	.title{
		@include ag_bold;
		font-size: em(14);
		padding: .5em 0 0 0;
		margin:0;
	}

	.title-block{
		color:white;
		background:$ag_green;
	}

	.content-text-block{
		padding:0 1.25em;
	}

}

.content-block.columns{
	float:left !important;
	//border:5px solid $ag_green;
}

.user-gateway{
	float:right;
	position:relative;
	z-index:50;
	& > div{
		display:inline-block;
		float:left;
	}

}

#home .user-gateway{

	margin-top:2px;

	ul{
		li{
			display:inline-block;
		}
	}
}

/*================================================*/

/*New grid structure
================================================*/
.content-block{

	&.has-border{
		border:5px solid $ag_green;
	}

	&.text-block, &.past-event-info{
		&:hover{

			border:5px solid $ag_purple;

		}
	}

	&.intro{

		p{
			@include ag_bold;
			font-size:1em;
		}

		h2{
			padding:0;
			margin-bottom:1.25em;
		}
		
	}

	&.text-image-new, &.text-image-past{
		&:hover{

			border:5px solid $ag_purple;

			.content-text-block{
				background:$ag_purple;
			}
		}
	}

	&.cta-block{
			
		a{
			color:$ag_white !important;
			@include ag_bold;
			padding-bottom: em(80);
			padding-top:.75em;
			padding-left:1.25em;
			font-size: em(24);
			background:$ag_green;
			width:100%;
			text-transform: uppercase;
			display:block;

			&:hover{
				background:$ag_purple;
			}
		}
	}

	&.image-only{
		
		p{
			position:absolute;
			z-index:10;
			color:white;
		}

		&:hover{

			

			.overlay.purple{
				display:block;
				border:5px solid $ag_purple;
			}
		}
	}
}
/*================================================*/

.sidebar-block{
	border-top:5px solid $ag_green;
	margin-bottom: em(57);

	.title{

		// font-size:1em;
		@include ag_bold;
		color:$ag_green;
		text-transform:none;
		margin-bottom: em(25);
		margin-top: em(10);
	}

	p{

		text-transform:none;
		margin-bottom:10px;

	}

	ul{

		li{

			list-style-type: none;
			list-style-image:none;
			padding:em(10) 0;

			a{
				color: $ag_white !important;
				background-color:$ag_green;
				padding: 5px 7px;
				text-transform:uppercase;

				&:hover{
					background:$ag_purple;
				}

			}

		}

	}
}

.banner{
	width:100%;
	height:600px;
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
}

.text-page{

	.container .three.columns, .container .nine.columns{
		margin-right:1.25em;
		margin-left:1.25em;
	}
}

.the-content{

	h1, h2, h3, h4, p{
		text-transform:none;
	}

	h2{
		margin-top:0;
	}

	ul{
		margin-left: em(45);

		li{
			list-style-image: url('img/list-box.jpg');
			margin:35px 0;
			padding-left: 15px;
		}
	}
}

.stack{position:relative;

  &:after, &:before{
    display:table; 
    content:" ";
  }

  &:after{
    clear:both;
  }
}

.button{
	a{
		color:white;
		padding: .5em 1em;
		text-transform:uppercase;
	}
	.green{
		background-color:$ag_green;
		@include ag_bold;
		&:hover{
			background-color:white;
			color: $ag_green;
		}
	}

	.purple{
		background-color:$ag_purple;
		@include ag_bold;
		margin-right:.625em;

		&:hover{
			background-color:white;
			color: $ag_purple;
		}
	}
}

.social{
	margin-right:1.75em;

	ul{

		margin:0;
		padding:0;

		li{

			a{
				margin:0;
				padding-right: em(10);
				padding-left:0;
			}

		}

	}

	a{
		color:white;
		
		&:hover{
			color:$ag_green;
		}

	}
}

.homepage-fullscreen{
	height: 100%;
	min-height: 100%;
}

.greeting-container{
  display:table;
  width:30%;
  min-width:28.75em;
  height:100%;
  position:relative;
  z-index:4000;
}

.greeting{
  color:white;
  display:table-cell;
  vertical-align:middle;
  padding-left:2.5em;

  h1{
  	// font-size: em(60);
  	// line-height: 1.25;
  	width:85%;
  }

   h2{
   	text-transform: none;
  // 	font-size: em(30);
  // 	line-height: 1.25;
   }
}

.event_link{
	position:absolute;
	right:6.125em;
	top:3em;
	//display:table;
	max-width: 253px;
    width: 20%;

	.event_link_icon{
		position:absolute;
		width:100%;
		height:253px;

		// &:hover img.top{
		// 	display:none;
		// }

		img{
			max-width: 100%;
			height:auto;
			position:absolute;

			&.top{
				z-index:10;

				
			}

			&.bottom{
				z-index: 5;
			}
		}
	}

	h2 {
		position:absolute;
		//display:table-cell;
		vertical-align:middle;
		text-align: center;
		//z-index:2;
		//height:100%;
		font-size:1em;
		width: 80%;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, 31%);
	    z-index: 15;

		a{
			@include ag_bold;
			color:white;
			text-decoration:underline;
			font-size: em(30);
			line-height:1.25;

			&:hover, &:active, &:focus{
				text-decoration:none;
				color: $ag_purple
			}
		}
	}
}

.panel{
	position:relative;
	background:white;
	//border-top:1px solid #292929;
	//border-bottom:1px solid #292929;
	height:100%;
	min-height:100%;
	width:100%;
	margin-bottom:1em;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top center;
	background-attachment:fixed;

	.title{
		position:absolute;
		top:0;
		right:3.125em;
		padding:1.25em;
		background:$ag_green;
		color:white;
		width:25%;
		min-width:21.875em;

		&:hover{
				background:$ag_purple;
				color:white;
			}

		a{
			color:white;
			
		}

		h1, h2, h3, p{
			margin:0;
			padding:0;
		}

		p{
			margin-top:.25em 0 ;
			text-transform:uppercase;
		}

		h3{
			margin-top:2em;
		}
	}

	&:last-of-type{
		margin-bottom:0;
	}
}

#featured-artists .title h3{
	text-transform:none;
}

.columns.title-bar{
	width:100%;
}

.title-bar {
	background-color:$ag_green;
	color:white;
	padding:0;
	padding-left:2.5em;

	h1{
		margin:0;
		padding:0;
		line-height:1.3;
	}
}

.down-container{
  position:absolute;
  bottom:15%; 
  width:100%; 
  text-align:center;

  	img{
  		opacity:1;
  		transition:all .2s ease-in-out;

  		&:hover{
  			opacity:.6;
  		}
  	}
}

.overlay{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	bottom:0;
	right:0;
	left:0;

	&.black{
		background-color:rgba(0,0,0,.2);
	}

	&.purple{
		background-color:rgba(153,51,153,.5);
		display:none;
	}

}

#twitter{
	position: absolute;
    right: 0;
    z-index: 60;
    bottom: 20%;
    background:$ag_purple;
    padding:.625em 1.25em .625em 0;
    width: em(93);
    height: em(62);

    &:hover{
    	background:$ag_white;
    }

    img{
    	position:absolute;
    	max-width:100%;
    	height:auto;
    	margin-left:.625em;
    	//padding:.625em 1.25em .625em .625em;

    	&.top{

				z-index:10;

		}

		&.bottom{

			z-index: 5;

		}
    }
}

.event-cta{
	position:absolute;
	bottom: em(40);
	right:3.125em;
	width:500px;

	h2{
		color:white;
	}

	.button{
		float:right;
		background:$ag_green;
		color:white;
		text-transform:uppercase;
		padding:5px 1em;
		@include ag_bold;

		&:hover{
			background:$ag_purple;
		}
	}
}

#instafeed{
	height:300px;
	margin:3em 0;
	border-top:5px solid $ag_green;
	display:block;
	float:none;
	margin:0 auto;
	margin-top:2.5em;
	max-width:1200px;

	.title{
		//font-size:1em;
		@include ag_bold;
		color:$ag_green;
		margin-bottom: em(25);
		margin-top: em(10);
		text-transform:none;
	}
}

.container{
	// height:100%;
	// min-height:100%;
	// width:100%;
	// background-color: red;
	// margin-bottom:1em;
}